//- Copyright 2016 Capital One Services, LLC
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-     http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and limitations under the License.

extends layout

block content
  h2 Login

  include ./_includes/error-alert.jade

  form.uk-form.uk-form-horizontal(action="/login", method="POST")
    input(type="hidden" name="_csrf" value="#{csrfToken}")
    div.uk-form-row
      label.uk-form-label(for="username") Username
      div.uk-form-controls
        input(type="text", placeholder="username", name="username")
    div.uk-form-row
      label.uk-form-label(for="password") Password
      div.uk-form-controls
        input(type="password", placeholder="password", name="password")
    div.uk-form-row
      button.uk-button.uk-button-primary(type="submit") Login

  h3 Register Your Webhook
  p The app must have an endpoint registered with SwiftID to use as a webhook callback when a SwiftID request is approved or rejected. These curl commands will authenticate and register the webhook.
  p
    b These commands only need to be run the first time you run the app. Please checkout the README for more information.
  
  p POST your client credentials to the OAuth endpoint:
  pre
    code
      | curl -X POST https://api-sandbox.capitalone.com/oauth/oauth20/token \
      |      -d 'client_id=&lt;client_id&gt;'\
      |      -d 'client_secret=&lt;client_secret&gt;'\
      |      -d 'grant_type=client_credentials'

  p The response will contain an access token:
  pre
    code
      | HTTP/1.1 200 OK
      | Content-Type: application/json
      |    {
      |        "access_token" : "5354e3a56036056cffb5a99f368a31cef3aee2a8",
      |        "token_type" : "Bearer",
      |        "expires_in" : 1295999
      |    }

  p Register the webhook, passing in the access_token:
  pre
    code
    | curl -i -k -tlsv1 -X POST https://api-sandbox.capitalone.com/identity/webhooks\
    |      -H "Content-Type: application/json"\
    |      -H "Accept: application/json; v=1"\
    |      -H "Authorization: Bearer &lt;access_token&gt;"\
    |      -d '{ "callbackUrl": "https://your.app.here/photos/request-access-hook", "eventType": "EnhancedAuthentication" }'
